@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background-color: hsl(220, 15%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1440px;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit';
}
img{
    margin: 20px 20px 0px 20px;
    border-radius: 10px;
}
h1{
    font-weight: 700;
}
p{
    font-weight: 300;
    margin-bottom: 40px;
}
